.account {
    background-image: url("../images/account-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.account-frame {
    background-color: black;
    border: 1px solid #FFE6A7;
    opacity: 0.9;
}

.account-item {
    background-color: #913732;
    border: 1px solid #BB9457;
    opacity: 1;
}


/* *********************************************
               Media queries
********************************************** */

/* mobile phones */

@media screen and (min-device-width: 280px) and (max-device-width: 767px) {

    .account {
        background: #000000;
        height: 90%;
        margin: 1rem;
    }
}
