/* Booking background image section */

.booking-bg {
    background-image: url("../images/booking-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-bg {
    background-color: black;
    border: 1px solid #FFE6A7;
    opacity: 0.9;
    z-index: 2;
}

.form-content {
    z-index: 1;
}


/*********************************************************************
                        Media queries
**********************************************************************/

/* mobile phones */

@media screen and (min-device-width: 280px) and (max-device-width: 767px) {

    .booking-bg {
        background: black;
    }

}
