.login {
    background-image: url("../images/login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-bg {
    background-color: black;
    border: 1px solid #FFE6A7;
    opacity: 0.8;
}

.create-account {
    color: #BB9457;
}


/* *********************************************
               Media queries
********************************************** */

/* mobile phones */

@media screen and (min-device-width: 280px) and (max-device-width: 767px) {

    .login {
        background: #000000;
    }
}

