.login {
    background-image: url("../images/login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.form-bg {
    background-color: black;
    border: 1px solid #FFE6A7;
    opacity: 0.8;
}

.required-fields {
    font-size: 0.8rem;
}