/* Menus image section */

.menus-bg {
    background-image: url("../images/arrange.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    padding-top:7vh;
    padding-bottom: 5vh;
    text-align: center;
    display: block;
    color: #000000;
}

.choice-menu {
    border-radius: 60px;
    background-color: #000000;
    opacity: 0.8;
    width: 15rem;
}

.switch {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}
.switch input {
    position: absolute;
    top: -30px;
    top: -30px;
    width: 0;
    height: 0;
}
.switch input + span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #BB9457;
    border-radius: 20px;
    border: 1px solid #000000;
}
.switch input + span:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .5s;
    background: #913732;
    border: 1px solid #000000;
}
.switch input:checked + span {
    background: #BB9457;
}
.switch input:checked + span:before {
    left: 34px;
    background: #913732;
}


/* Setmenus section */

.light-menu {
    background-color: #913732;
    border: 1px solid #BB9457;
}

.setmenu-desc{
    white-space: pre-line;
}

.food-setmenu {
    background-color: #BB9457;
    border: 1px solid #913732;
    color: #000000;
}

.noon-menus {
    display: block;
}
.evening-menus {
    display: none;
}