.opening-list {
    background-image: url("../images/cooking.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list-bg {
    background-color: black;
    border: 1px solid #FFE6A7;
    opacity: 0.9;
}

.table-bg {
    background-color: black;
    color: #FFFFFF;
}


/* Pagination */

.pagination .page-item .page-link {
    background-color: #913732;
    color: #FFFFFF;
    border: 1px solid #BB9457;
}

.pagination .page-item .page-link:hover {
    background-color: #913732;
    color: #FFE6A7;
    border: 1px solid #BB9457;
}

.pagination .page-item.disabled .page-link {
    color: #BB9457;
}

.closed-day {
    color: #FFE6A7;
}


/* *********************************************
               Media queries
********************************************** */

/* mobile phones */

@media screen and (min-device-width: 280px) and (max-device-width: 767px) {

    .opening-list {
        background: #000000;
    }

    .list-bg {
        background-color: black;
        border: none;
    }
}
