{% extends 'base.html.twig' %}

{% block css %} <link rel="stylesheet" href="{{ asset('assets/css/food.css') }}"> {% endblock css %}

{% block title %} La carte {% endblock %}


{% block main %}

    {# Food presentation section #}

    <section id="food-presentation">
        <div class="row">
            {# Food image #}
            <article class="col-12 food-bg">
                <h1 class="page-title">La Carte</h1>
            </article>
        </div>
    </section>


    {{ plats }}



    {% block javascripts %}
        <script src=""></script>
    {% endblock %}

{% endblock main %}